body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background: #0B0C10;
    background-image: url('wallhaven-4y3ep7_1920x1080.png');
    background-repeat: no-repeat;
    background-size:cover;
    overflow: hidden;
}
    nav {
        display: flow;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px;
        width: 500px;
        margin-left: 500px;
    }

        nav a {
            color: white;
            text-decoration: none;
            padding: 10px;
            font-size: 18px;
            font-weight: 300;
            text-transform: uppercase;
            border: solid;
            border-color: #66FCF1;
            border-radius: 10px;
            height: 30px;
        }
img {
    margin-left: -1460px;
    margin-top: -1000px;
    width: 50px;
    height: 50px;
}
            nav a:hover {
                background-color: #45A29E;
            }

    .search-container {
        margin-top: 250px;
    }
form {
    margin-top: 200px;
}
    .search-container input[type=text] {
        padding: 10px;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        background-color: #f1f1f1;
        width: 50%;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

        .search-container button {
            margin: 2em 45% 78% 45%;
            background-color: #0B0C10; 
            padding: 10px 20px;
            border: solid;
            border-color: #66FCF1;
            cursor: pointer;
            color: white;
            border-radius: 10px;
        }

            .search-container button:hover {
                background-color: #45A29E;
            }
    #result {
        font-size: 20px;
       margin-top:-1120px;
       color: white;
    }
